<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fuelbalanceapp">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetFuelConsumption"
            android:exported="false"
            android:label="Set Fuel Consumption"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tripshistory.ViewTripsHistory"
            android:exported="false"
            android:label="Trips History"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".fuelpurchase.AddFuelPurchase"
            android:exported="false"
            android:label="Add Fuel Purchase"
            android:parentActivityName=".MainActivity"/>

        <service android:name=".detectedactivity.DetectedActivityService" />

        <receiver android:name=".detectedactivity.DetectedActivityReceiver" />

        <service
            android:name=".TripRecordingService"
            android:foregroundServiceType="location" />
    </application>

</manifest>